@import "tailwindcss";

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  
  /* Esconde elementos que não devem aparecer no PDF, como botões de navegação e menus laterais */
  .no-print {
    display: none !important;
  }
  
  /* Quebra de página para capítulos */
  .page-break {
    page-break-before: always;
  }
}
